* {
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background-image: url(../images/header_image.jpg);
    height: 150px;
    width: 100%;
    color: #8da8c4;
    font-size: 45px;
    padding: 40px 30px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.link >a {
    font-size: 20px;
    margin-right: 45px;
    text-align: right;
    color: #5c7998;
}

.link >li {
  display: inline-block;
  padding-left: 20px;
}

   /* Sets position, padding to 20px and left and right to 40px */
.container1 {
  position: relative;
  top: 100px;
  width: 80%;
  height: 200px;
  float: right;
  padding: 20px;
  }

.container1_text {
  top: -30px;
  left: 40px;
}


  .container1_title {
    position: relative;
    top: 0;
    left: -200px;
    font-size: 30px;
    color: #5c7998;
  }

   /* Sets position, ,padding to 20px and left and right to 40px */
  .container2 {
    position: relative;
    top: 50px;
    width: 80%;
    float: right;
    padding: 20px 40px;
  }

  .align {
    display: flex;
    flex-wrap: wrap;


  }

  .container2_title {
    position: relative;
    top: 50px;
    left: -200px;
    font-size: 30px;
    color: #5c7998; 
  }
 
/* label box with text */
.label {
  Position: absolute;
  top: 250px;
  left: 30px;
  width: 200px;
  height: 50px;
  background-color: #829ab3;
  color: #26418e;
  z-index: 1;
  padding-top: 0.8rem;
  padding-left: 1.5rem;
}
 
  .box {
    padding: 10px;
    outline: 5px solid  #26418e;
    margin: 20px;
    transition: all 0.5s ease-in-out;
  }
 
  .box:hover {
  box-shadow: 5px 10px  #829ab3;
  }

.container3 {
  position:relative;
  top: 50px;
  left: 50px;
  width: 80%;
  font-size: 20px;
  float: right;
  color: #5c7998;
  padding-bottom: 50px;
}
.container3_title {
  position: relative;
  top: 30px;
  left: -250px;
  font-size: 30px;
  color: #5c7998;
}

.contact_link >a {
  font-size: 20px;
  margin-right: 20px;
  text-align: left;
  color: #5c7998;
}

.contact >li {
  display: inline-block;
  padding-left: 50px;

}

.footer {
    padding: 30px;
    clear: both;
    text-align: center;
    color: #5c7998;
    font-size: 12px;
}



